.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2002px;
  height: 1080px;
  object-fit: cover;
}
.slide-169-1-child {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
  width: 1920px;
  height: 140px;
}
.fresh-coffee-in {
  position: absolute;
  top: 374px;
  left: 101px;
  font-size: 72px;
  text-transform: capitalize;
  display: inline-block;
  width: 621px;
}
.slide-169-1-item {
  position: absolute;
  top: 761px;
  left: 101px;
  border-radius: 70px;
  background-color: #b68c4d;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.3);
  width: 363px;
  height: 104px;
}
.order-now {
  position: absolute;
  top: 795px;
  left: 208px;
  text-transform: capitalize;
}
.about,
.blogs,
.contacts,
.home,
.menu,
.products,
.review {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  font-weight: 600;
}
.about,
.blogs,
.contacts,
.menu,
.products,
.review {
  left: 111px;
}
.blogs,
.contacts,
.menu,
.products,
.review {
  left: 234px;
}
.blogs,
.contacts,
.products,
.review {
  left: 343px;
}
.blogs,
.contacts,
.review {
  left: 513px;
}
.blogs,
.contacts {
  left: 643px;
}
.blogs {
  left: 816px;
}
.home-parent {
  position: absolute;
  top: 52px;
  left: 512px;
  width: 895px;
  height: 36px;
}
.lscoffee-icon,
.slide-169-1-inner {
  position: absolute;
  top: 55px;
  left: 1729px;
  width: 90px;
  height: 30px;
}
.lscoffee-icon {
  top: 0;
  left: 0;
  width: 52px;
  height: 57px;
  overflow: hidden;
}
.coffee-shop,
.lorem-ipsum-dolor {
  position: absolute;
  top: 28px;
  left: 61px;
  text-transform: capitalize;
}
.lorem-ipsum-dolor {
  top: 572px;
  left: 0;
  font-family: var(--font-poppins);
  display: inline-block;
  width: 643px;
}
.lscoffee-parent {
  position: absolute;
  top: 28px;
  left: 101px;
  width: 643px;
  height: 680px;
  font-family: var(--font-perpetua);
}
.slide-169-1 {
  position: absolute;
  top: 151px;
  left: 132px;
  border-radius: 30px;
  background-color: var(--color-white);
  box-shadow: 20px 20px 10px rgba(62, 47, 25, 0.2);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.slide-169-1-parent {
  position: relative;
  background-color: #e5d69e;
  width: 100%;
  height: 1382px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
